@model IEnumerable<HR_Management_System.Models.Evaluation>

@{
    ViewData["Title"] = "ViewEvaluation";
}

<h1>ViewEvaluation</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEvaluate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEvaluate)
            </td>
            <td>
					@item.Employee.Name
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
